<app-loading-overlay *ngIf="displayLoading"></app-loading-overlay>

<div class="page-header" class="text-center">
    <h5>Meeting</h5>
    <h1>Nueva</h1>
</div>

<form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <div class="row justify-content-md-center mt-5 col-12">

        <div class="col-md-12">
            <div class="card" *ngIf="!hasSession">
                <div class="card-header">Organizador</div>
                <div class="card-body" formGroupName="additionalProp1">
                    <div class="form-row" formGroupName="user">
                        <div class="form-group col-6">
                            <label class="required">Nombre</label>
                            <input type="text" class="form-control" formControlName="name" maxlength="80">
                            <div *ngIf="eventForm.get('additionalProp1').get('user').get('name').hasError('required') &&  eventForm.get('additionalProp1').get('user').get('name').touched"
                                class="invalid-feedback">
                                <small>Campo requerido</small>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label class="required">Email</label>
                            <input type="email" class="form-control" formControlName="email" maxlength="50">
                            <div *ngIf="eventForm.get('additionalProp1').get('user').get('email').hasError('required') &&  eventForm.get('additionalProp1').get('user').get('email').touched"
                                class="invalid-feedback">
                                <small>Campo requerido</small>
                            </div>
                            <div *ngIf="eventForm.get('additionalProp1').get('user').get('email').hasError('pattern') &&  eventForm.get('additionalProp1').get('user').get('email').touched"
                                class="invalid-feedback">
                                <small>Correo no válido</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card  mb-3">
                <div class="card-header">Reunión</div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label class="required">Tìtulo</label>
                            <input type="text" class="form-control" formControlName="name" maxlength="80">
                            <div *ngIf="eventForm.get('name').hasError('required') &&  eventForm.get('name').touched"
                                class="invalid-feedback">
                                <small>Campo requerido</small>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label class="required">Lugar</label>
                            <input type="text" class="form-control" formControlName="place" maxlength="80">
                            <div *ngIf="eventForm.get('place').hasError('required') &&  eventForm.get('place').touched"
                                class="invalid-feedback">
                                <small>Campo requerido</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="required">Descripción</label>
                        <textarea class="form-control" rows="3" formControlName="description"
                            maxlength="200"></textarea>
                        <div *ngIf="eventForm.get('description').hasError('required') &&  eventForm.get('description').touched"
                            class="invalid-feedback">
                            <small>Campo requerido</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="required">Password</label>
                        <input type="text" class="form-control" formControlName="password" maxlength="20">
                        <div *ngIf="eventForm.get('password').hasError('required') &&  eventForm.get('password').touched"
                            class="invalid-feedback">
                            <small>Campo requerido</small>
                        </div>
                    </div>

                    <div class="card  mt-5">
                        <div class="card-body">
                            <full-calendar #calendar [options]="calendarOptions"></full-calendar>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col d-flex  mt-4">
                            (<span style="color:red">*</span>) Campos requeridos
                        </div>
                    </div>

                    <div class="row">
                        <div class="col d-flex justify-content-center mt-4">
                            <button type="submit" class="btn btn-primary mr-3"
                                [disabled]="eventForm.invalid">Aceptar</button>
                            <button type="button" class="btn btn-outline-secondary"
                                (click)="cancelar()">Cancelar</button>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</form>



<ng-template #modalDelete let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Borrar evento</h4>
        <span aria-hidden="true">&times;</span>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <table class="table" *ngIf="selectedEvent">
                    <tbody>
                        <tr>
                            <th scope="row">Inicio</th>
                            <td>{{selectedEvent.start | date:'medium' }}
                        </tr>
                        <tr>
                            <th scope="row">Fin</th>
                            <td>{{selectedEvent.end | date:'medium'}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary"
            (click)="modal.dismiss('cancel click')">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="modal.close('Ok click')">Aceptar</button>
    </div>
</ng-template>