<div class="page-header" class="text-center">
    <h5>Meeting-o-Matic</h5>
	<h2>Precios</h2>
</div>



<div class="card-deck mb-3 mt-5 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Free</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>10 meetings mensuales</li>
          <li>Meetings Admin</li>
          <li>Soporte</li>
        </ul>

        <a  [routerLink]="['/user/signup']" class="btn btn-lg btn-block btn-outline-primary my-2 my-sm-0"
        type="submit">Registrarse</a>
                  
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Pro</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Meetings ilimitadas</li>
          <li>Meetings Admin</li>
          <li>Soporte</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">Comprar</button>

      </div>
    </div>
    
  </div>