<div class="page-header" class="text-center">
    <h5>User</h5>
    <h2>Perfil</h2>
</div>


<div class="row justify-content-md-center mt-5 col-12">

    <div class="col-md-12">
        <div class="card  mt-5">
            <div class="card-header"><i aria-hidden="true" class="fa fa-user-o"></i>  Mi Perfil</div>
            <div class="card-body" *ngIf="currentUser">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Nombre</th>
                            <td>{{currentUser.name}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Email</th>
                            <td>{{currentUser.email}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Tipo Cuenta</th>
                            <td>{{currentUser.accountType}}</td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="isFreeAccountType" class="alert alert-info" Rol="alert">
                    Tu cuenta es FREE, solo puedes registrar hasta 10 meetings.
                    <hr>
                    Para acceder a la version PRO haga click <a href="#">aqui</a>
                </div>
            </div>
        </div>
    </div>
</div>