<div class="page-header" class="text-center">
    <h5>Meeting</h5>
    <h1>Admin</h1>
</div>


<div class="row mt-5">
    <div class="col-md-3">
        <div class="card-counter primary">
            <i class="fa fa-user"></i>
            <span class="count-numbers">{{totalUsuariosRegistrados}}</span>
            <span class="count-name">Usuarios <br>Registrados</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card-counter info">
            <i class="fa fa-user"></i>
            <span class="count-numbers">{{totalUsuariosNoRegistrados}}</span>
            <span class="count-name">Usuarios<br> No Registrados</span>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card-counter danger">
            <i class="far fa-calendar-alt"></i>
            <span class="count-numbers">{{totalMeetings}}</span>
            <span class="count-name">Meetings</span>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card-counter success">
            <i class="far fa-calendar-check"></i>
            <span class="count-numbers">{{totalMeetingsMatches}}</span>
            <span class="count-name">Meeting <br>Matches</span>
        </div>
    </div>




</div>